<!DOCTYPE html>
<html>
<head>
  <title>PxComponentsDemo</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <!-- in case of any probles with those imports try to move it to specific view -->
  <link rel="import" href="assets/bower_components/px-branding-bar/px-branding-bar.html" />
</head>
<body>

<%= yield %>

</body>
</html>
